.card-header{
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #5fbb94;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
}

.col-md-8{
    width: 600px;
}

.logo_img{
    height: 200px;
    width: 200px;
}

/* ログインボタン */
.login_btn{
    text-align: center;
}


.btn-primary {
    background: none;
    border: none;
    cursor: pointer;
    background-color: #5fbb94;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    display: block;
    width: 30%;
    height: 40px;
    margin: auto;
}

.btn-primary:hover{
    background: none;
    border: none;
    cursor: pointer;
    background-color: #55997c;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
}

