@charset "utf-8";

body {
    margin: 0;
    background-color: #f6f6f6;
    color: #a6a6a6;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 1em;
}

img {
    vertical-align: bottom;
}

h1 {
    margin: 0;
    width: 200px;
}

h1 a {
    color: #333;
}

h2 {
    color: #737373;
    font-weight: 500;
    font-size: 1.2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #598f78;
    height: 100vh;
    width: 20%;
    padding: 0;
    margin: 0;
}

main {
    width: 80%;
    margin-left: 20%;
    padding: 60px 0px;
}
.main_wrap {
    margin: 10px 24px;
}
.flex {
    display: flex;
    flex: auto;
    align-items: flex-start;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    background-color: #5fbb94;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    transition: all 0.3s;
    background-color: #4f7967;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 20px;
    font-size: 0.9em;
    font-weight: bold;
}

.nav a:hover {
    transition: all 0.3s;
    background-color: #4f7967;
}

.nav_myinfo {
    padding: 60px 0px 30px 0px;
    color: #fff;
    background-color: #55997c;
    text-align: center;
    line-height: 0.8em;
}

.img_cover_circle {
    display: block;
    width: 30%;
    margin: 1em auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1.5px #e6c155;
    padding: 4px;
}

.img_cover_circle img {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/*メインコンテンツのヘッダー部分（h2周辺）*/
.main_header {
    align-items: center;
}

.header_inner {
    align-items: center;
    justify-content: flex-end;
}

#content_main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* 投稿のarticle */
#content_main .article {
    height: 200px;
    width: 80%;
    margin-top: 20px;
    padding: 40px;
    background-color: #fefefe;
    display: flex;
}

/* 投稿のfigure */
#content_main .article figure {
    float: left;
    height: 200px;
    width: 320px;
    margin: 0;
}

/* 投稿のimg */
#content_main .article figure img {
    border-radius: 5px;
    height: 200px;
    width: 320px;
    object-fit: cover;
}

/* 記事一覧の詳細部分 */
.article-info {
    padding-left: 30px;
    display: inline-block;
}

/* 記事一覧のタイトル */
.article-info h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 1.2rem;
}

/*　カテゴリータグ　*/
#content_main .article-category {
    background-color: #fff687;
    border-radius: 15px;
    color: #000000;
    padding: 5px 8px 5px 8px;
}

/*　投稿日　*/
#content_main .article-date {
    color: #8b8b8b;
    margin-left: 1rem;
}

/* 記事冒頭の紹介文 */
.article-info p {
    color: #8b8b8b;
}

/*==================================================
スライダーのためのcss
===================================*/
#slider_top .slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    height: 94%;
    margin: 5px;
    width: 80%;
    display: flex;
    margin: 0 20px;
    overflow-x: scroll;
}

/* #slider_top img {
    width: 320px;
    height: 200px;
    margin: 5px;
    flex-shrink: 0;
} */

.slider_info {
    position: relative;
}
.slider_info img {
    width: 320px;
    height: 200px;
    flex-shrink: 0;
}

.title {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding: 5px;

    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(106, 105, 105, 0.7)
    );
}

.slider_info p {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    /* width: 320px; */
    color: #f6f6f6;
}
