@charset "utf-8";
/*
body {
    margin: 0;
    background-color: #f6f6f6;
    color: #A6A6A6;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 1em;
}

img {
    vertical-align: bottom;
}

h1 {
    margin: 0;
    width: 200px;
}

h1 a {
    color: #333;
}

h2 {
    color: #737373;
    font-weight: 500;
    font-size: 1.2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #598F78;
    height: 100vh;
    width: 20%;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

main {
    width: 80%;
    margin-left: 20%;
    padding: 60px 24px;
}

.flex {
    display: flex;
    flex: auto;
    align-items: flex-start;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    background-color: #5FBB94;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    transition: all .3s;
    background-color: #4F7967;
}


.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 20px;
    font-size: .9em;
    font-weight: bold;
}
.nav a img{
    margin-left: .4em;
    margin-right: 1em;
}

.nav a:hover {
    transition: all .3s;
    background-color: #4F7967;
}

.nav_myinfo {
    padding: 60px 0px 30px 0px;
    color: #fff;
    background-color: #55997C;
    text-align: center;
    line-height: .8em;
}


.img_cover_circle {
    display: block;
    width: 30%;
    margin: 1em auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1.5px #E6C155;
    padding: 4px;
}

.img_cover_circle img {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
*/

/*メインコンテンツのヘッダー部分（h2周辺）*/
/*
.main_header {
    align-items: center;
}

.header_inner {
    align-items: center;
    justify-content: flex-end;
}
*/
/*検索ボックス*/
/*
.search_wrap {
    position: relative;
    max-width: 300px;
    height: 36px;
    width: 30%;
}

.input_search {
    height: 36px;
    padding: 0 10px;
    width: 100%;
    max-width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #A6A6A6;
}


.search_button {
    height: 20px;
    position: absolute;
    /*アイコン左右の位置調整*/
    /*
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #A6A6A6;
    padding: 0 10px;
    background-color: #fefefe;
    border: none;
    /*アイコンサイズ*/
    /*
    font-size: 16px;
}

.search_button:hover {
    transition: all .3s;
    color: #E6C155;
}

/*マイモデルコース新規追加ボタン*/
/*
.create_button {
    margin: 0 1.2em;
    padding: 6px 20px;
}
*/


/*　2024/01/10 追加*/
body {
    margin: 0;
    background-color: #f6f6f6;
    color: #A6A6A6;
    line-height: 1.8;
    font-size: 1em;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 2px 1em;
}


img {
    vertical-align: bottom;
}

h1 {
    margin: 0;
    font-weight: 500;
    height: 50px;
    position: relative;
}
h1 a{
    display: block;
}
h1 img{
    width: 24px;
    height: auto;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
}

h1 span {
    display: block;
    width: 7em;
    color: #333;
    text-decoration: none;
    font-size: .48em;
    position: absolute;
    left: 26px;
    top: 50%;
    padding-left: 10px;
    transform: translateY(-50%);
}

h2 {
    color: #737373;
    font-weight: 500;
    font-size: 1.2em;
}
h3,h4{
    color: #55997C;
    margin: 0;
    margin-top: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #598F78;
    height: 100vh;
    width: 20%;
    padding: 0;
    margin: 0;
}

main {
    width: 72%;
    margin-left: 20%;
    padding: 80px 4%;
    padding-bottom: 20px;
}
.main_general{
    width: 80%;
}

::placeholder{
    color: #D9D9D8;
}
input,textarea{
    border: 1px solid #A6A6A6;
    padding: 2px;
    border-radius: 2px;
}
input[type="text"],textarea{
    padding: 6px 8px;
}
textarea{
    resize: vertical;
}

.flex {
    display: flex;
    flex: auto;
    align-items: flex-start;
}

a.button {
    font-size: .84em;
    padding: 4px 2em;
}

.button {
    display: block;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #5FBB94;
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    transition: all .3s;
    background-color: #4F7967;
}


.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 20px;
    font-size: .9em;
    font-weight: bold;
}

.nav a img {
    margin-left: .4em;
    margin-right: 1em;
}

.nav a:hover {
    transition: all .3s;
    background-color: #4F7967;
}

.nav_myinfo {
    padding: 70px 0px 30px 0px;
    color: #fff;
    background-color: #55997C;
    text-align: center;
    line-height: .8em;
}


.img_cover_circle {
    display: block;
    width: 30%;
    margin: 1em auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1.5px #E6C155;
    padding: 4px;
}

.img_cover_circle img {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/*メインコンテンツのヘッダー部分（h2周辺）*/
.main_header {
    align-items: center;
}

.header_inner {
    align-items: center;
    justify-content: flex-end;
}

/*検索ボックス*/

.search_wrap {
    position: relative;
    max-width: 300px;
    height: 36px;
    width: 30%;
}

.input_search {
    height: 36px;
    padding: 0 10px;
    width: 100%;
    max-width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #A6A6A6;
}


.search_button {
    height: 20px;
    position: absolute;
    /*アイコン左右の位置調整*/
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #A6A6A6;
    padding: 0 10px;
    background-color: #fefefe;
    border: none;
    /*アイコンサイズ*/
    font-size: 16px;
}

.search_button:hover {
    transition: all .3s;
    color: #E6C155;
}

/*マイモデルコース新規追加ボタン*/
.create_button {
    margin: 0 1.2em;
    padding: 6px 20px;
}

/* モデルコース一覧 */
.post{
    width: 100%;
    border-top: 1px solid #D9D9D9;
    margin-bottom: 10px;
    padding: 12px;
}
.post:last-child{
    border-bottom: 1px solid #D9D9D9;
}
.thumbnail{
    width: 20%;
    aspect-ratio: 3/2;
    display: block;
}
.thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.post_text{
    width: 78%;
    margin-left: 1em;
}
.post_title{
    align-items: center;
    margin-top: .2em;
}
.post_title h3{
    margin: 0px;
    font-size: medium;
    color: #55997C;
}
.status_tag{
    display: block;
    width: 5.6em;
    text-align: center;
    font-size: .7em;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #55997C;
    color: #55997C;
    font-weight: bold;
}
.status_private{
    color: #E6C155;
    border-color: #E6C155;
}
.post_text_wrap{
    align-items: center;
}
.post_buttons{
    justify-content: end;
    margin-right: 2em;
}
.post_buttons a{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #fff;
    border: 1px solid #A6A6A6;
    margin-left: 1em;
    border-radius: 2px;
}
.post_buttons a span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #598F78;
}
.post_buttons a:hover{
    border-color: #5FBB94;
    background-color: #5FBB94;
    transition: all .3s;
}
.post_buttons a:hover span{
    color: #ffffff;
    transition: all .3s;
}

/* マイ企業情報管理 */
.user_info_wrap{
    border-top: 1px solid #D9D9D9;
    padding: 30px 10px;
}
.user_info_wrap .icon_wrap{
    width: 18%;
    max-width: 140px;
    aspect-ratio: 1/1;
    text-align: center;
}
.icon_wrap img{
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.user_info{
    padding-top: 10px;
    margin-left: 2em;
}
.user_info p{
    margin: 0;
}
.numbers{
    margin-bottom: 30px;
}
.numbers span{
    font-size: .85em;
}
.numbers > span{
    margin-right: 1em;
}
.numbers .strong{
    color: #737373;
    font-weight: bold;
    margin-left: .4em;
}

/*マイ企業情報 編集画面*/
.file_label {
    display: block;
    font-size: .7em;
    padding: 6px;
    border-radius: 4px;
    margin-top: 1em;
    color: #ffffff;
    background-color: #5FBB94;
    cursor: pointer;
}
.file_label:hover{
    background-color: #55997C;
    transition: all .4s;
}
input[type="file"] {
    display: none;
}
.user_info_edit_form{
    width: 100%;
}
.user_info_edit_form .user_info{
    width: 76%;
}
.user_info .input_url{
    width: 80%;
}
.user_info textarea{
    width: 80%;
}
.user_info input[type="submit"]{
    margin-top: 20px;
    float: right;
    margin-right: calc(20% - 12px);
}


/* 通知 */
.notice_wrap {
    border-top: 1px solid #D9D9D9;
    margin-bottom: 10px;
}

.notice_list {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.notice_text {
    margin-left: 1.6%;
}

.notice:nth-child(odd) {
    background-color: #fff;
}

.notice td {
    padding: 10px 12px;
}

.notice td:nth-child(1) {
    width: 40px;
}

.notice td:nth-child(3) {
    width: 10%;
    font-size: .9em;
    text-align: right;
}

.notice td:nth-child(4) {
    width: 16%;
    text-align: right;
    padding-right: 2%;
}

.notice img {
    width: 100%;
    border-radius: 100%;
}

.notice button {
    width: 100%;
}

/* 通知設定画面 */
.notice_form{
    width: 100%;
    border-top: 1px solid #D9D9D9;
    padding-left: 1em;
    padding-top: .5em;
}
.input_group{
    margin-left: 1.2em;
    margin-top: 6px;
}
.label{
    display: block;
    margin-top: 6px;
}
.input_title{
    display: block;
    margin-top: 10px;
}
.notice_submit{
    margin-top: 30px;
    padding-left: 3em;
    padding-right: 3em;
}
.input_flex{
    margin-top: 5px;
}
.input_flex_left{
    position: relative;
    z-index: 2;
}
.input_flex_left{
    width: 20%;
}
.input_flex_left::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #C2DBD0;
    z-index: -1;
    border-radius: 2px;
}
.input_flex_right{
    width: calc(80% - 12px);
    margin-left: .5em;
}
.input_flex_right input,.input_flex_right textarea{
    margin-bottom: 3px;
}
.input_flex_right input:last-child{
    margin-bottom: 0;
}

.input_flex span{
    width: 20%;
}


/* toggle */
.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle_label {
    width: 55px;
    height: 26px;
    background: #D9D9D8;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
}

.toggle_label:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    left: 5px;
    top: 5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.toggle_input:checked+.toggle_label {
    background-color: #5FBB94;
}

.toggle_input:checked+.toggle_label:after {
    left: 34px;
}

.toggle_input:disabled+.toggle_label {
    background-color: #E8ECED;
}

.toggle_input:disabled+.toggle_label:after {
    box-shadow: none;
}

.toggle_button {
    position: relative;
    width: 60px;
    height: 26px;
    margin-left: 1.2em;
}

.toggle_wrap {
    align-items: center;
    margin-top: 10px;
}
.empty_box{
    text-align: center;
    position: absolute;
    top: calc(50% + 60px);
    left: 60%;
    transform: translate(-50%,-50%);
}
/* 投稿フォーム */
.post_form{
    padding-bottom: 40px;
}
.create_post_header{
    padding: 0 4%;
}
.main_bg{
    background-color: #f6f6f6;
}
main:has(>.main_bg){
    padding: 80px 0;
    padding-bottom: 0;
    width: 80%;
}
.post_form input[type="text"], .post_form textarea{
    display: block;
}
.post_form h3{
    font-size: .9em;
    font-weight: 500;
    color: #A6A6A6;
    margin: 0;
}
.post_form ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.post_form .label{
    font-size: .85em;
}
.course_bg:first-child{
    margin-top: 44px;
}
.course_bg:nth-child(odd){
    background-color: #ededed;
}
.course_bg:not(:last-child){
    padding-bottom: 40px;
}
.form_group{
    width: 60%;
    margin: auto;
    position: relative;
}
.form_content{
    margin-bottom: 10px;
    padding: 6px;
}
.form_content textarea{
    width: calc(100% - 12px);
}
.form_box{
    display: block;
    position: relative;
    background-color: #fff;
    border: 1.5px solid #55997C;
    padding: 6px;
    margin-bottom: 10px;
}
.form_box input,.form_box textarea{
    display: block;
    width: calc(100% - 12px);
}
.form_box  .form_child:not(:last-child){
    margin-bottom: 4px;
}
.flex_form_box{
    display: flex;
    align-items: stretch;
}
.input_title_wrap{
    width: 100%;
    border-bottom: 1.4px solid #D9D9D9;
    padding: 6px;
}
.input_title{
    width: 76%;
}
.remove_button{
    position: absolute;
    top: -.6em;
    right: -.6em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 1.5px solid #55997C;
    background-color: #fff;
    color: #55997C;
}
.remove_button:hover{
    background-color: #55997C;
    color: #fff;
}
.add_btn{
    margin: 10px auto;
    width: 40%;
    padding: 10px;
    min-width: 5em;
    position: relative;
}
.add_btn::before{
    content: '+';
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    border: 2px solid #fff;
    line-height: 1.2;
}
.modal_back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.confirm_wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fefefe;
    width: 40%;
    padding: 28px 26px;
    z-index: 101;
}
.confirm_wrap input[type="radio"]{
    display: none;
}
.category_wrap{
    flex-wrap: wrap;
}
.confirm_wrap .radio_label{
    display: block;
    border: 1px solid #E8ECED;
    background-color: #f6f6f6;
    padding: 2px 16px;
    border-radius: 4px;
    margin: .2em;
}
.confirm_wrap .radio_label:has(>input[type="radio"]:checked){
    background-color: #5FBB94;
    border-color: #5FBB94;
    color: #fff;
    font-weight: bold;
    transition: all .3s;
}
.confirm_wrap h3{
    font-size: 1.2em;
    border-bottom: solid 1px #A6A6A6;
    margin-bottom: 6px;
}
.confirm_wrap .status_wrap .radio_label{
    width: 20%;
    min-width: 5em;
}
.input_pref{
    padding: 6px;
}
.confirm_wrap .button_wrap{
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.confirm_wrap .button{
    width: 40%;
    min-width: 5em;
    max-width: 10em;
    padding: 10px;
}
.confirm_content{
    margin-left: 1.2em;
}
.return_button{
    background-color: #A6A6A6;
}
.js_modal_background{
    display:none;
}
.js_modal_widow{
    display: none;
}
.input_date{
    position: relative;
    padding: 10px 0;
}
.remove_date{
    width: auto;
    height: auto;
    border-radius: 4px;
    padding: 4px 2em;
    display: block;
    left: 7em;
    right: auto;
    top: -44px;
}

.date_text{
    position: absolute;
    top: -55px;
    width: 5em;
    text-align: center;
    background-color: #e6c155;
    color: #fff;
    padding: 4px;
    border-radius: 8px 8px 0 0;
    margin: 8px 0;
}
.form_bg{
 background-color: #D9D9D9;
}
.mainimg_post_wrap{
    width: 90%;
    margin-left: 5%;
}
.mainimg_post_wrap .preview{
    width: 100%;
    height: 200px;
    margin:auto;
    object-fit: cover;
}
.mainimg_post_wrap label{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.slide_wrap{
    overflow: hidden;
}
.confirm_list{
    margin: 0;
    padding: 0;
    width: 200%;
    display: flex;
}
.confirm{
    transform: translateX(0);
	transition: .5s;
    width: 100%;
}
.post_form ul.dotted_list{
    width: 2em;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.dotted{
    display: block;
    width: .5em;
    height: .5em;
    border-radius: 10px;
    transition: all .5s;
    background-color: #A6A6A6;

}
.dotted.selected{
    background-color: #E6C155;
}
.js_slide_back_button{
    display: none;
}
.js_submit_button{
    display: none;
}

